<!--BOTON FLOTANTE-->
<div ng-click="cargarModalRoot(uid, false, false, true, 'Agregar')" class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
  </a>
</div>


<!--BUSCADOR-->
<nav class="indigo lighten-2">
    <div class="nav-wrapper">
        <form>

            <div class="input-field">
                <input id="search" type="search" ng-model="buscador" required>
                    <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons" ng-click="buscador=null">close</i>
            </div>

        </form>
    </div>
</nav>


<!--VENTANA MODAL-->
<div id="modalRoot" class="modal modal-fixed-footer">
    <h4 style="margin:8px;">{{nameWindow}} Root</h4> 
    
    <div class="modal-content">
        <div class="row">
            <div class="input-field col m8 offset-m2">
                <i class="material-icons prefix">person</i>
                    <input id="root_name" type="text" ng-disabled="lectura" ng-model="datosRoot.name" required>
                <label id="root_name2" for="root_name" ng-class="{active: datosRoot.name}">Nombre</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col m8 offset-m2">
                <i class="material-icons prefix">email</i>
                    <input id="root_email" type="email" ng-disabled="lectura" ng-model="datosRoot.email" required>
                <label for="root_email" ng-class="{active: datosRoot.email}">Correo</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col m8 offset-m2">
                <i class="material-icons prefix">phone</i>
                    <input id="root_phone" type="text" ng-disabled="lectura" ng-model="datosRoot.phone" required>
                <label for="root_phone" ng-class="{active: datosRoot.phone}">Telefono</label>
            </div>
        </div>

        <div class="row" ng-show="agregar">
            <div class="input-field col m8 offset-m2">
                <i class="material-icons prefix">lock</i>
                    <input id="root_password" type="password" ng-model="datosRoot.password" required>
                <label for="root_password" ng-class="{active: datosRoot.password}">Contraseña</label>
            </div>
        </div>

        <div class="row" ng-show="agregar">
            <div class="input-field col m8 offset-m2">
                <i class="material-icons prefix">lock</i>
                    <input id="root_passwordrepeat" type="password" ng-model="datosRoot.passwordrepeat" required>
                <label for="root_passwordrepeat" ng-class="{active: datosRoot.passwordrepeat}">Repetir Contraseña</label>
            </div>
        </div>
    </div>
    
    <div class="modal-footer">
        <a  
            href="" 
            ng-show="agregar" 
            ng-click="addRootData(datosRoot)" 
            class="green modal-action waves-effect waves-green btn">
            Agregar
        </a>

        <a 
            href="" 
            ng-show="lectura" 
            class="green modal-action modal-close waves-effect waves-green btn">
            Aceptar
        </a>

        <a 
            href="" 
            ng-show="modificar" 
            ng-click="updateRootData(datosRoot)" 
            class="green modal-action waves-effect waves-green btn">
            Guardar
        </a>

        <a 
            href="" 
            ng-show="modificar||agregar" 
            class="red modal-action modal-close waves-effect waves-red btn">
            Cancelar
        </a>

        <a 
            href="" 
            ng-show="modificar||agregar" 
            ng-click="limpiarCamposRoot()" 
            class="blue modal-action waves-effect waves-blue btn">
            Limpiar
        </a>
    </div>
</div>


<!--VENTANA MODAL ELIMINAR-->
<div id="modalDeleteRoot" class="modal deep-orange lighten-2">
    <div class="card deep-orange lighten-1">
        <div class="card-content white-text">
            <span class="card-title">Eliminar</span>
            <p>Seguro que desea eliminar a</p>
            <p>{{ nameRoot }} ?</p>
            <i class="xtralarge material-icons">delete</i>
        </div>
        <div class="card-action">
            <a ng-click="deleteRootData(uidRoot)" class="modal-action modal-close white waves-effect red-text waves-white btn">Eliminar</a>
            <a class="red modal-action modal-close waves-effect waves-red white-text btn">Cancelar</a>
        </div>
    </div>
</div>


<!--TABLA DE DATOS-->
<div ng-init="cargarDatosRoot()">
    <table class="bordered highlight centered" ng-table="table1">
        <thead>
            <tr>
                <th data-field="id">Identificador</th>
                <th data-field="name">Nombre</th>
                <th data-field="email">Correo</th>
                <th data-field="phone">Telefono</th>
                <th data-field="action">Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="itemRoot in lista|filter:buscador">
                <td>{{ itemRoot.uid }}</td>
                <td>{{ itemRoot.name }}</td>
                <td>{{ itemRoot.email }}</td>
                <td>{{ itemRoot.phone }}</td>
                <td id="actions_root">
                    <a ng-click="cargarModalRoot(itemRoot.uid, true, false, false, 'Ver')" class="btn-floating btn-flat waves-effect waves-light">
                        <i class="green-text material-icons">search</i>
                    </a>
                    <a ng-click="cargarModalRoot(itemRoot.uid,false, true, false, 'Editar')" class="btn-floating btn-flat waves-effect waves-light">
                        <i class="blue-text material-icons">mode_edit</i>
                    </a>
                    <a ng-click="deleteModalRoot(itemRoot)" class="btn-floating btn-flat waves-effect waves-light">
                        <i class="red-text material-icons">delete</i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>